:root {
    --red: #F0141E;
    --green: #0b8d0b;
    --add-btn: #777d77;
    --hover-btn: #9ea69e;
    --details: #1868ac;
    --details-hover: #3d89c9;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
} 

body {
    display: -ms-grid;
    display: grid;
        grid-template-areas:
    "header header aside"
    "main main aside";
    -ms-grid-rows: 150px 1fr;
    grid-template-rows: 150px 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    min-height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

input,
button {
    outline: none;
    letter-spacing: 2px;
}

input[type="submit"],
button { 
    cursor: pointer;
}

button:active,
input[type="submit"]:active {
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97);
}

.header {
    grid-area: header;
}

.header__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
}

.header__img {
    margin: 0 10px;
}

.header__search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    gap: 20px;
    font-size: 1.3rem;
}

.header__search {
    border: 0;
    border-bottom: 2px solid var(--red);
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 0 10px;
}

.header__submit {
    background: none;
    border: 2px solid #000;
    padding: 5px 10px;
}

.aside {
    grid-area: aside;
    border-left: 3px solid var(--red);
}

.main {
    grid-area: main;
}

.search-results {
    padding: 20px;
}

.search-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
    position: relative;
}

.search-card {
    text-align: center;
    padding: 30px 5px;
}

.search-card:hover {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
}

.search-card:hover 
button {
    opacity: 1;
}

.search-card__poster {
    margin-bottom: 20px;
}

.search-card__title {
    margin-bottom: 10px;
}

.search-card
button {
    border: 0;
    padding: 10px;
    opacity: 0;
    color: #fff;
    cursor: pointer;
}

.search-card__add {
    background-color: var(--add-btn);
}

.search-card__add.fav-comic-btn {
    background-color: var(--green);
}

.search-card__add.fav-comic-btn:hover {
    background-color: var(--green);
}

.search-card__add:hover {
    background-color: var(--hover-btn);
}

.search-card__details {
    background-color: var(--details);
}

.search-card__details:hover {
    background-color: var(--details-hover);
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 100px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 150px;
    height: 150px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    -webkit-animation: lds-dual-ring 1.6s linear infinite;
            animation: lds-dual-ring 1.6s linear infinite;
}

.favourite {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px;
    width: 380px;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
}

.favourite__heading {
    margin: 5px 0 20px 0;
}

.favourite__list-item {
    border: 3px solid #000;
    font-size: 0.8rem;
    border-radius: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 5px;
    width: 354px;
}

.favourite__list-title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    cursor: pointer;
}

.favourite__list-title:hover {
    color: var(--details);
}

.fa-times-circle {
    font-size: 1.2rem;
    color: var(--red);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.favourite.collapse .favourite__heading {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
}

.favourite.collapse {
    padding: 20px 5px;
}

.favourite.collapse #favourite__list {
    display: none;
}

.collapse {
    width: 47px;
}

.favourite__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.favourite__inner-burger {
    width: 37px;
    height: 45px;
    position: relative;
    cursor: pointer;
}

.favourite__inner-burger span {
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: var(--red);
    border-radius: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    left: 0;
  }
  
.favourite__inner-burger span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
}
  
.favourite__inner-burger span:nth-child(2) {
    top: 11px;
}
  
.favourite__inner-burger span:nth-child(3) {
    top: 23px;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
}
  
.favourite__inner-burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
  
.favourite__inner-burger.open span:nth-child(2) {
      opacity: 0;
      width: 0;
}
  
.favourite__inner-burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 24px;
    left: 8px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.modal__content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 800px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    padding: 20px;
    gap: 15px;
    position: relative;
}

.modal__info {
    max-width: 400px;
}

.modal__title {
    margin: 0 0 20px 0;
}

.modal__subtitle {
    color: var(--red);
}

.fa-times {
    color: var(--red);
    font-size: 1.3rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
