:root {
    --red: #F0141E;
    --green: #0b8d0b;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
} 

body {
    display: grid;
    grid-template-areas:
    "header header aside"
    "main main aside";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

input,
button {
    outline: none;
    letter-spacing: 2px;
}

input[type="submit"],
button { 
    cursor: pointer;
}

button:active,
input[type="submit"]:active {
    transform: scale(0.97);
}

.header {
    grid-area: header;
}

.header__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.header__img {
    margin: 0 10px;
}

.header__search-form {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    gap: 20px;
    font-size: 1.3rem;
}

.header__search {
    border: 0;
    border-bottom: 2px solid var(--red);
    flex: auto;
}

.header__submit {
    background: none;
    border: 2px solid #000;
    padding: 5px 10px;
}

.aside {
    grid-area: aside;
    border-left: 3px solid var(--red);
    padding: 0 20px;
    width: 500px;
}

.main {
    grid-area: main;
}

.search-results {
    padding: 20px;
}

.search-results__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 80px;
}

.search-results__item {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.search-results__item:hover {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
}

.search-results__item:hover 
.search-results__btn {
    opacity: 1;
}

.search-results__poster {
    margin-bottom: 20px;
}

.search-results__title {
    margin-bottom: 10px;
}

.search-results__btn {
    border: 0;
    cursor: pointer;
    padding: 10px;
    opacity: 0;
    background-color: var(--green);
    color: #fff;
}

.reading__list-item {
    border: 3px solid #000;
    font-size: 1.1rem;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}
